<li class="playlist" data-id="{{ id }}">
  <h3>
    <span class="title">{{ name }}</span> 
    <input class="title" type="text" placeholder="{{ name }}">
    <span class="controls">
      <i class="icon-plus"></i>
      <i class="icon-edit"></i>
      <i class="icon-trash remove-playlist"></i>
    </span>
  </h3>
  <form action="playlists/name/songs" method="post" class="song-creator">
    <i class="icon-remove"></i>
    <fieldset>
      <legend>Add Song</legend>
      <label>Artist:<input class="artist" type="text" placeholder="Artist"></label>
      <label>Song:<input class="song" type="text" placeholder="Song"></label>
      <input type="submit" value="Add Song" class="btn pull-right">
    </fieldset>
  </form>
  <ol class="songs"></ol>
</li>