doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css', media="all")
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css', media="all")
    link(rel='stylesheet', href='/stylesheets/base.css', media="all")
  body
    #container
      block content