h1 {
	text-align: center;
}

ul {
  list-style-type: none;
}

i {
  cursor: pointer;
  border: 5px solid transparent;
  margin-right: 5px;
}

.controls {
  padding-left: 10px
}

#playlist-creator {
  text-align: center;
}

#playlist-creator form input {
  margin: 0 5px;
}

#playlists {
  margin: 0 10%;
  padding: 0;
}

#playlists input.title {
  display: none;
}

#playlists .song-creator {
  display: none;
  background-color: #ccc;
  padding: 15px;
  position: relative;
}

#playlists .song-creator .icon-remove {
  position: absolute;
  top: 5px;
  right: 0;
}

#playlists .song-creator label {
  margin: 0 0 15px 15px;
}

#playlists .song-creator input[type="text"] {
  width: 250px;
  vertical-align: middle;
  margin: 0 0 0 15px;
}

#playlists .song {
  border-bottom: 1px solid #eee;
  position: relative;
}

#playlists .song .icon-trash {
  position: absolute;
  top: 0;
  right: 0;
}