extends ../../../views/layout

block content
  h1 Playlists in the Cloud
  hr

  #playlist-creator
    form(action="/playlists", method="post")
      input.name(type="text", placeholder="Name your playlist")
      input.btn(type="submit", value="Make New Playlist")

  div
    ul#playlists